.todo-list li.completed label .description {
  color: #cdcdcd;
  text-decoration: line-through;
}
.todo-list li label .created {
  font-size: 13px;
  color: gray;
}
.todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

.todo-list li.editing .edit {
  display: block;
  width: calc(100% - 43px);
  padding: 12px 16px;
  margin: 0 0 0 43px;
}

.todo-list li.editing .view {
  display: none;
}
.todo-list li.editing:last-child {
  margin-bottom: -1px;
}
.hidden {
  display: none;
}
.time-left {
  font-size: 13px;
  color: gray;
  position: absolute;
  bottom: 20px;
  right: 270px;
}
