{
    "parserOptions": {
        "sourceType": "module",
        "parser": "@babel/eslint-parser",
        "requireConfigFile": false
    },
    
    "env":{
        "browser": true,
        "es6": true,
        "node": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "semi":"off"
        
    }
}